---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{nombreapp}}-ingress
  namespace: {{namespace}}
  labels:
    app: {{nombreapp}}
  annotations:
      haproxy.org/path-rewrite: "/"
spec:
  rules:
  - host: {{ maquina }}
    http:
      paths:
      - path: /{{apppath}}
        pathType: "Prefix"
        backend:
          service:
            name: {{nombreapp}}-service
            port:
              number: 80
