[terminal]
${pubip[0]} 

[master:children]
k8s-m-1

[k8s-m-1]
${pubip[0]} 

[node]
${pubip[1]} 
${pubip[2]} 

[k8s:children]
master
node

[todas:children]
k8s
terminal

[todas:vars]
ansible_ssh_port=22
ansible_ssh_user=${ usuario }
ansible_ssh_private_key_file=${ path_rsa }azureuser_rsa